
html{
  background-image: url(cinema.jpeg);
  background-position: cover;
  color: white;
  background-color: black;;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.App {
  text-align: center;
  font-family: 'Piazzolla',
  serif;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 30px;
  color: rgb(252, 244, 244);
  position: fixed;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.inner-div{
  margin-left: 12rem;
  margin-right: 12rem;
}

img{
  border-radius: 0.5rem;
  border: solid rgba(255, 255, 255, 0.05);
  box-shadow: 10px 10px 10px rgba(250, 248, 248, 0.064);
}

h1 {
  font-family: 'Bungee Outline', cursive;
  font-size: 5rem;
  background-color: rgb(41 41 41);
  padding: 2rem;
  margin: 0;
  box-shadow: 10px 10px 10px rgba(87, 114, 203, 0.16);
}


h3{
  font-size: 2rem;
}