
html{
  background: url(cinem.jpeg) no-repeat center center fixed;
  /* SOURCE: 
  https: //css-tricks.com/perfect-full-page-background-image/
   */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* ---- end background image code ----  */
  background-position: cover;
  background-repeat: no-repeat;
  color: white;
  background-color:rgba(0, 0, 0, 0.947);;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.App {
  text-align: center;
  font-family: 'Piazzolla',
  serif;
}

a{
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;

}

.App-header {
  background-color: rgb(38, 37, 37);
  height: 150px;
  padding: 35px;
  color: rgb(252, 244, 244);
  position: fixed;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.inner-div{
  margin-left: 20rem;
  margin-right: 20rem;
  background: rgba(172, 191, 201, 0.79);
  border-radius: 1rem;
  color: black;
  text-align: center;
  margin-top: 13rem;
}

img{
  border-radius: 0.5rem;
  border: solid rgba(255, 255, 255, 0.05);
  box-shadow: 10px 10px 10px rgba(15, 18, 116, 0.776);
  border-radius: 1rem;
  size: 20rem;
  height: 15rem;
  cursor: pointer;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

img:hover{
  box-shadow: inset 2px 2px rgba(41, 41, 41, 0.892),
  inset -2px -2px rgba(0, 0, 0, 0.29);
}

.h1-header {
  font-family: 'Bungee Outline', cursive;
  font-size: 5rem;
  background-color: rgb(28, 28, 28);
  padding: 2.5rem;
  margin: 0;
  box-shadow: 10px 10px 10px rgba(222, 23, 240, 0.283);

  overflow: hidden;
  display: block;
  position: fixed;
  width: 100%;
  text-shadow: 4px 4px 4px rgba(4, 238, 148, 0.927);

}


h3{
  font-size: 2rem;
}

p{
  margin-right: 2rem;
  margin-left: 2rem;
}

.add-movie-btn{
  background-color: rgba(5, 210, 233, 0.571);
  border-radius: 0.2rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color: black;
  box-shadow: inset -2px -2px rgba(0, 0, 0, 0.502),
  inset 2px 2px rgba(210, 206, 206, 0.345);

  /* https://stackoverflow.com/questions/38377062/
  how-to-make-html-button-look-pressed-in-using-css */
  
    border: 1px solid #ccc;
    cursor: pointer;

}

/* on hover, "button" will look pressed */
/* https://www.w3schools.com/cssref/sel_hover.asp */
.add-movie-btn:hover {
box-shadow: inset 2px 2px rgba(97, 96, 96, 0.892),
inset -2px -2px rgba(0, 0, 0, 0.29);
}




h4 {
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}