.img-div{
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

h4{
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    /* word-break: break-all; */
    /* Will search grid  */
}

p{
    margin-bottom: 2rem;
}

.instruction-text{
    color: rgb(24, 24, 24);
    text-shadow: 2px 2px 2px rgb(105, 190, 255);

}

.h2-margin{
    /* padding-bottom: 3rem;
    margin-top: 3rem; */
    margin-top: 0;
    color: rgb(24, 24, 24);
    font-size: 1.2rem;
    /* text-shadow: 2px 2px 2px rgb(243, 255, 105); */
}

h2{
    margin-bottom: 0;
}